/* Reset CSS */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    background: linear-gradient(110deg,pink 90%, white);                                       
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

 header {
    background-color: #333;
    color:black;
    padding: 20px;
} 
header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
